 * {
    box-sizing: border-box;
 }
header{
    background-color: #212121;
    min-height: 80px;
    padding-top: 15px;
    overflow:hidden;
    border-bottom: #B7905A 4px solid;
}
.contenedor-flex-1{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:80%;
    margin: auto;

}
.contenedor-flex-1 ul{
    display:flex;
    justify-content: flex-end;
    align-items: center;

}
.contenedor-flex-1 li{
    list-style-type: none;
    padding-right: 20px;
}

.contenedor-flex-1 li a{
    text-decoration: none;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.em;
    font-weight: bold;
}

#banner{
    min-height: 500px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../img/banner.jpg');
    
}
#banner img{
    margin:auto;
    object-fit:cover;
}
#banner h1{
    font-size: 4.0em;
    color: white;
    font-weight: normal;
    margin-top: 0%;
    margin-bottom: 10px;
    padding: 80px;
    transform: scale(1,1.1);
}

.ancho-contenido-banner{

    width: 90%;
    margin: auto;
    overflow: hidden;


}

.ancho-contenido-banner p{
    color:white;
    font-size: 1.3em;

}

.cuota{
    background-color: #212121;
    height:120px;
    padding: 10px;
    color:white;
    font-style:italic;
    font-family: palatino,georgia,serif;
    display:flex;
    align-items:center;
    justify-content:wrap;
    align-items:center; 
    justify-content: center;
    flex-wrap:wrap;
    border-bottom: #B7905A 4px solid;
    border-top: #B7905A 4px solid;
    }

.cuota span{
    font-size:2.0em;
    padding-right: 20px;

}
.cuota a{
    text-decoration: none;
    font-family: Helvetica,Arial, sans-serif;
    color:white;
    font-size:1.6em;
    background-color: #B7905A;
    border-radius:16px;
    padding: 5px 12px 5px 12px;

}

.contenedor-flex-2{
    display:flex;
    justify-content:center;
}

.contenedor-flex-2 div{
    text-align: center;
    font-size:1.6em;
    font-family:Helvetica,Arial;sans-serif;
    padding:20px;
    margin:10px;
}

footer{
    text-align:center;
    font-size:1.7em;
    border-top: #B7905A 3px solid;
    min-height:80px;
    padding-top: 25px;
}

.contenedor-flex-3{
    display:flex;
    justify-content:center;
}

.contenedor-flex-3 div{
    text-align: center;
    font-size:1em;
    font-family:Helvetica,Arial;sans-serif;
    padding:20px;
    margin:10px;
}


.banner2 {
    
    display: flex;
    height:400px;
    width: 100%;
    margin:auto;
    overflow: hidden;   
}
.banner_section{
  width: 100%;  
}

.banner_img{
    display:block;
    width: 100%;
    height:100%;
    object-fit: cover;
}




#banner2 h1{
    font-size: 4.0em;
    color: #B7905A;
    font-weight: normal;
    margin-top: 0%;
    margin-bottom: 10px;
    padding: 80px;
    object-fit:cover;
    transform: scale(1,1.1);
    }


#banner2 p{
    font-size: 1.6em;
    text-align:right;
    color: white;
    padding-left:800px;
    padding-right:90px;
    font-weight: normal;
    transform: scale(1,1.1);
    }
    
.banner3{
    min-height: 750px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../img/diagrama_dummies.gif');        
}

.banner3 h1{
    font-size: 3.5em;
    color: #000000;
    font-weight: normal;
    margin-top: 0%;
    margin-bottom: 10px;
    padding: 50px;
    transform: scale(1,1.1);
    }
    
.wrap{
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.nav > li {
    float:left;
}

.nav li a {
    background-color:#212121;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.nav li a:hover {
    background-color:#000;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}


.form-group{
    display:flex;
    justify-content:center;
    align-items:center;
    width:20%;
    margin: auto;
    padding-bottom:8px;
}
.form-group label{
    text-decoration: none;
    font-family: Helvetica,Arial, sans-serif;
    color:white;
    font-size:1.6em;
    background-color: #B7905A;
    border-radius:16px;
    padding: 5px 12px 5px 12px;
    margin:auto;
 
}



.wrapper{
    display:center;
    justify-content: center;
    align-items: center;
 }
  
 body{
     background-color: lightgray;
     font-family:sans-serif;
     min-height: 100vh;
     overflow-x: hidden;
    
 }

.container-slider {
    width: 90%;
    max-width: 900px;
    margin:auto;
    overflow:hidden;
    box-shadow:0 0 0 0 10px #ffff,
               0 15px 50px;
    position: relative;
}
.slider{
    display: flex;
    height:400px;
    width: 300%;
    margin-left:-100%;
    overflow: hidden;

}

.slider__section{
    width: 100%;
    
}

.slider__img{
    display:block;
    width: 100%;
    height:100%;
    object-fit: cover;
   
}

.slider__btn{
    position:absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(255,255,255,0.7);
    top:40%;
    transform: translateY(-50%);
    font-size:30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor:pointer;
}

.slider__btn--left{
    left: 10px;

}

.slider__btn--right{
    right: 10px;
}

.slider__btn:hover{
    background-color:#B7905A ;
}
 
